@import 'styles/layout';
@import 'styles/colors';
@import 'styles/typography';

.DisplayPanel {
    flex: 1;
    overflow: hidden;
    color: #28404f;
    background-color: white;
    font-size: $font-md;
}

.DisplayPanel-content {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    > * {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.DisplayPanel-settings-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    color: #00000014;

    &:hover {
        color: $primary-light;
    }
}

@media only screen and (min-width: 1000px) {
    .DisplayPanel {
        font-size: $font-lg;
    }

    .DisplayPanel-content {
        flex-direction: row;
    }
}
