@import 'styles/layout';

.Modes {
    flex: 0;
    display: flex;
    align-items: center;
    padding: 0;

    > * {
        display: flex;
        list-style: none;
        margin-left: $set-one;

        > img {
            width: $set-three;
            height: $set-three;
        }
    }
}

.Modes-small {
    > * {
        margin-left: $set-half;

        > img {
            width: $set-two;
            height: $set-two;
        }
    }
}
