$app-bg-color: #eee;
$primary-color: #2196f3;
$primary-light: #4dabf5;
$primary-dark: #1769aa;
$secondary-color: #ff3d00;
$secondary-light: #ff6333;
$secondary-dark: #b22a00;
$warning-color: #ff6d00;
